<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><border> <%= title %> </border></h1>
    <p><i> We Buzz Together At The Hive </i></p>
  </body>
</html>
