





body {
  padding: 80px;
  font: 18px "TT Livret", Helvetica, Arial, sans-serif;
  text-align: center;   
    border: 30px;
    border-style: solid;
   

  background-color: #a06d0d;
  border: solid, black;
}






